.portfolio_filter{
  position: absolute;
  transform: rotate(-90deg) translate(-520px,-320px);
  top:0;
  ul{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    .li_active{
      color: #EA0026;
    }
    li{
      color:white;
      margin: 0 10px;
      cursor: pointer;
      
    }
  }
}
.bod1{
  border-radius: 10px;
  width: 500px;
  height: 542px;
  background: mediumpurple;
  text-align: center;
  transition: 1s;
  background: url("./Img/jeep.webp") no-repeat ;
  background-size: cover;
  background-position-x: right;
}
.bod2{
  border-radius: 10px;
  width: 500px;
  height: 517px;
  background: hotpink;
  text-align: center;
  background: url("./Img/naski.webp") no-repeat ;
  background-size: cover;
  background-position-x: right;
}
.bod3{
  border-radius: 10px;
  width: 500px;
  height: 542px;
  background: rebeccapurple;
  text-align: center;
  background: url("./Img/Marko.webp")  no-repeat ;
  background-size: cover;
  background-position-x: right;
}
.bod4{
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background: red;
  text-align: center;
  background: url("./Img/goldcrest.webp") no-repeat ;
  background-size: cover;
  background-position-x: left;
}
.bod5{
  border-radius: 10px;
  width: 500px;
  height: 517px;
  background: purple;
  text-align: center;
  background: url("./Img/R2E2.webp") no-repeat ;
  background-size: cover;
  background-position-x: left;
}
.bod6{
  border-radius: 10px;
  width: 500px;
  height: 507px;
  background: pink;
  text-align: center;
  background: url("./Img/allHotels.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod7{
  border-radius: 10px;
  width: 500px;
  height: 507px;
  background: yellowgreen;
  text-align: center;
  background: url("./Img/542.webp") no-repeat ;
  background-size: cover;
  background-position-x: right;
}
.bod8{
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background: deeppink;
  text-align: center;
  background: url("./Img/AlfaR.webp") no-repeat ;
  background-size: cover;
  background-position-x: left;
}
.bod9{
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background: rebeccapurple;
  text-align: center;
  background: url("./Img/Datanet.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod10{
  border-radius: 10px;
  width: 500px;
  height: 542px;
  background: mediumpurple;
  text-align: center;
  transition: 1s;
}
.bod11{
  border-radius: 10px;
  width: 500px;
  height: 517px;
  background: hotpink;
  text-align: center;
  background: url("./Img/VD.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod12{
  border-radius: 10px;
  width: 500px;
  height: 542px;
  background: rebeccapurple;
  text-align: center;
  background: url("./Img/sda.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod13{
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background: red;
  text-align: center;
  //background: url("./Img/Datanet.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod14{
  border-radius: 10px;
  width: 500px;
  height: 517px;
  background: purple;
  text-align: center;
  background: url("./Img/520.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod15{
  border-radius: 10px;
  width: 500px;
  height: 507px;
  background: pink;
  text-align: center;
  background: url("./Img/thermo.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod16{
  border-radius: 10px;
  width: 500px;
  height: 507px;
  background: yellowgreen;
  text-align: center;
}
.bod17{
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background: deeppink;
  text-align: center;
  background: url("./Img/chees.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod18{
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background: rebeccapurple;
  text-align: center;

}
.bod19{
  border-radius: 10px;
  width: 500px;
  height: 542px;
  background: mediumpurple;
  text-align: center;
  transition: 1s;
  background: url("./Img/levis.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod20{
  border-radius: 10px;
  width: 500px;
  height: 517px;
  background: hotpink;
  text-align: center;
  background: url("./Img/Lada.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod21{
  border-radius: 10px;
  width: 500px;
  height: 542px;
  background: rebeccapurple;
  text-align: center;
  background: url("./Img/shoping.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod22{
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background: red;
  text-align: center;
  background: url("./Img/Goris.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod23{
  border-radius: 10px;
  width: 500px;
  height: 517px;
  background: purple;
  text-align: center;
  background: url("./Img/grand.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.bod24{
  border-radius: 10px;
  width: 500px;
  height: 507px;
  background: pink;
  text-align: center;
}
.bod25{
  border-radius: 10px;
  width: 500px;
  height: 507px;
  background: yellowgreen;
  text-align: center;
}
.bod26{
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background: deeppink;
  text-align: center;

}
.bod27{
  border-radius: 10px;
  width: 500px;
  height: 542px;
  background: mediumpurple;
  text-align: center;
  transition: 1s;
  background: url("./Img/garaj.webp") no-repeat;
  background-size: cover;
  background-position-x: right;
}
.main_port{
position: relative;
overflow: hidden;
.port_hovered{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  .portfolio_hovered1{
    background-color: rgba(234, 0, 38,.4);
    width: 100%;
    height: 50%;
    transform: translate(0,-600px);
    transition: .5s;
    div{
      width: 100%;
      position: absolute;
      bottom: 0;
      p{
        text-decoration: none;
        color: white;
        font-weight: 600;
      }
    }
  }
  .portfolio_hovered2{
    background-color: rgba(234, 0, 38,.4);
    width: 100%;
    height: 50%;
    transform: translate(0,600px);
    transition: .5s;
    div{
      width: 100%;
      position: absolute;
      top: 0;
      p{
        text-decoration: none;
        color: white;
        font-weight: 600;
      }
    }
  }
}
&:hover{
  .port_hovered{
    .portfolio_hovered1{
      transform: translate(0,0%);
      transition: .5s;
    }
    .portfolio_hovered2{
      
      width: 100%;
      height: 50%;
      transform: translate(0,0%);
      transition: .5s;
    }
  }
}
}
.portfolio{

  margin-top: 15vh;
  height: 1630px;
  position: relative;
  overflow: hidden;
  transition: 1s;
  .load_more{
    position: absolute;
    bottom: 0;
    left: 870px;
    transition: 1s;
  }
  .all1{
    transform: translate(0,0) scale(1);
    transition: 1s;
  }
  .all2{
    transform: translate(20px,0) scale(1);
    transition: 1s;

  }
  .all3{
    transform: translate(40px,0) scale(1);
    transition: 1s;

  }
  .all4{
    transform: translate(0,10px) scale(1);
    transition: 1s;
  }
  .all5{
    transform:translate(20px,-10px) scale(1);
    transition: 1s;
  }
  .all6{
    transform:translate(40px,10px) scale(1);
    transition: 1s;
  }
  .all7{
    transform:translate(0,-190px) scale(1);
    transition: 1s;
  }
  .all8{
    transform:translate(20px,0) scale(1);
    transition: 1s;
  }
  .all9{
    transform:translate(40px,10px) scale(1);
    transition: 1s;
  }
  .all10{
    transform:translate(0,100px) scale(1);
    transition: 1s;
  }
  .all11{
    transform:translate(20px,100px) scale(1);
    transition: 1s;
  }
  .all12{
    transform:translate(40px,100px) scale(1);
    transition: 1s;
  }
  .all13{
    transform: translate(0,120px)scale(1);
    transition: 1s;
  }
  .all14{
    transform:translate(20px,100px) scale(1);
    transition: 1s;
  }
  .all15{
    transform: translate(40px,120px)scale(1);
    transition: 1s;
  }
  .all16{
    transform:translate(0,50px) scale(1);
    transition: 1s;
  }
  .all17{
    transform: translate(20px,120px) scale(1);
    transition: 1s;
  }
  .all18{
    transform: translate(40px,130px)scale(1);
    transition: 1s;
  }
  .all19{
    transform:translate(0,70px) scale(1);
    transition: 1s;
  }
  .all20{
    transform: translate(20px,60px)scale(1);
    transition: 1s;
  }
  .all21{
    transform:translate(70px,40px)scale(1);
    transition: 1s;
  }
  .all22{
    transform: translate(0,90px)scale(1);
    transition: 1s;
  }
  .all23{
     transform: translate(20px,55px) scale(1);
    transition: 1s;
  }
  .all24{
    transform:translate(90px,40px) scale(1);
    transition: 1s;
  }
  .all25{
    transform: translate(0,20px)scale(1);
    transition: 1s;
  }
  .all26{
    top: 80px;
    transform: translate(20px,80px);
    transition: 1s;
  }
  .all27{
    transform: translate(40px,100px);
    transition: 1s;
  }
}
.portfolio_more{

  position: relative;
  background: #1f1f1f;
  height: 100%;
  margin-top: 15vh;
  transition: 1s;

  .load_more{
    position: absolute;
    bottom: 0;
    left: 870px;
    transition: 1s;
  }
  .all1{
    transform: translate(0px,0) scale(1);
    transition: 1s;
  }
  .all2{
    transform: translate(20px,0) scale(1);
    transition: 1s;

  }
  .all3{
    transform: translate(40px,0) scale(1);
    transition: 1s;

  }
  .all4{
    transform: translate(0,10px);
    transition: 1s;
  }
  .all5{
    transition: 1s;
    transform: translate(20px,-10px);
  }
  .all6{

    //top: 362px;
    //left: 660px;
    transform: translate(40px,10px);
    transition: 1s;
  }
  .all7{
    transform: translate(0px,-190px);
    transition: 1s;
  }
  .all8{
    transform: translate(20px,0px);
    transition: 1s;
  }
  .all9{
    transform: translate(40px,10px);
    transition: 1s;
  }
  .all10{
    transform: translate(0px,-170px) scale(1);
    transition: 1s;
  }
  .all11{
    transform: translate(20px,-190px);
    transition: 1s;
  }
  .all12{
    transform: translate(40px,-180px);
    transition: 1s;
  }
  .all13{
    transform: translate(0px,-150px);
    transition: 1s;
  }
  .all14{
    transform: translate(20px,-190px);
    transition: 1s;
  }
  .all15{
    transition: 1s;
    transform: translate(40px,-155px);
  }
  .all16{
    transform: translate(0px,-350px);
    transition: 1s;
  }
  .all17{
    transform: translate(20px,-175px);
    transition: 1s;
  }
  .all18{
    transform: translate(40px,-150px);
    transition: 1s;
  }
  .all19{
    transform: translate(0px,-330px);
    transition: 1s;
  }
  .all20{
    transform: translate(20px,-360px) scale(1);
    transition: 1s;
  }
  .all21{
    transform: translate(40px,-340px);
    transition: 1s;
  }
  .all22{
    transform: translate(0px,-310px);
    transition: 1s;
  }
  .all23{
    transform: translate(20px,-365px);
    transition: 1s;
  }
  .all24{
    transition: 1s;
    transform: translate(40px,-320px);
  }
  .all25{
    transform: translate(0px,-505px);
    transition: 1s;
  }
  .all26{
    transform: translate(20px,-345px);
    transition: 1s;
  }
  .all27{
    transform: translate(40px,-310px);
    transition: 1s;
  }
}
.nongov1{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov2{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov3{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov4{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov5{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov6{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov7{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov8{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov9{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov10{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov11{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov12{
  transform:translate(-889px,-1566px) scale(1);
  transition: 1s;
}
.nongov13{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov14{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov15{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov16{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov17{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov18{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov19{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov20{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov21{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov22{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov23{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov24{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov25{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov26{
  transform:translate(0) scale(0);
  transition: 1s;
}
.nongov27{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech1{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech2{
  transform:translate(20px,0px) scale(0);
  transition: 1s;
}
.tech3{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech4{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech5{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech6{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech7{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech8{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech9{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech10{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech11{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech12{
  transform:translate(-636px,-966px) scale(0);
  transition: 1s;
}
.tech13{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech14{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech15{
  transform: translate(0) scale(0);
  transition: 1s;
}
.tech16{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech17{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech18{
  transform:translate(-889px,-2625px) scale(1);
  transition: 1s;
}
.tech19{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech20{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech21{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech22{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech23{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech24{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech25{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tech26{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel1{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel2{
  transform: translate(20px,0) scale(0);
  transition: 1s;
}
.tel3{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel4{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel5{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel6{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel7{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel8{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel9{
  transform:translate(-889px,-1059px) scale(1);
  transition: 1s;
}
.tel10{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel11{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel12{
  transform:translate(-636px,-966px) scale(0);
  transition: 1s;
}
.tel13{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel14{
  transform:translate(20px,-2108px) scale(1);
  transition: 1s;
}
.tel15{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel16{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel17{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel18{
  transform:translate(-635px,-1625px) scale(0);
  transition: 1s;
}
.tel19{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel20{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel21{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel22{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel23{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel24{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel25{
  transform:translate(0) scale(0);
  transition: 1s;
}
.tel26{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate1{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate2{
  transform: translate(20px,0) scale(0);
  transition: 1s;
}
.educate3{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate4{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate5{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate6{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate7{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate8{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate9{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate10{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate11{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate12{
  transform:translate(-636px,-966px) scale(0);
  transition: 1s;
}
.educate13{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate14{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate15{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate16{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate17{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate18{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate19{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate20{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate21{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate22{
  transform: translate(0px,-3674px) scale(1);
  transition: 1s;
}
.educate23{
  transform:translate(0) scale(0);
  transition: 1s;
}
.educate24{
  transform:translate(60px,-3674px) scale(1);
  transition: 1s;
}
.educate25{
  transform:translate(475px,-4191px) scale(1);
  transition: 1s;
}
.educate26{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto1{
  transform:translate(0) scale(1);
  transition: 1s;
}
.auto2{
  transform: translate(20px,0) scale(0);
  transition: 1s;
}
.auto3{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto4{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto5{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto6{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto7{
  transform:translate(929px,-1059px) scale(1);
  transition: 1s;
}
.auto8{
  transform:translate(20px,-1055px) scale(1);
  transition: 1s;
}
.auto9{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto10{
  transform:translate(0,-1005px) scale(1);
  transition: 1s;
}
.auto11{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto12{
  transform:translate(-636px,-966px) scale(0);
  transition: 1s;
}
.auto13{
  transform:translate(465px,-1785px) scale(1);
  transition: 1s;
}
.auto14{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto15{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto16{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto17{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto18{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto19{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto20{
  transform:translate(485px,-2605px) scale(1);
  transition: 1s;
}
.auto21{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto22{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto23{
  transform:translate(0) scale(0);
  transition: 1s;
}
.auto24{
  transform:translate(-298px,-2274px) scale(0);
  transition: 1s;
}
.auto25{
  transform:translate(0,-2591px) scale(0);
  transition: 1s;
}
.auto26{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art1{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art2{
  transform: translate(20px,0) scale(0);
  transition: 1s;
}
.art3{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art4{
  transform:translate(0,-542px) scale(1);
  transition: 1s;
}
.art5{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art6{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art7{
  transform:translate(675px,-659px) scale(0);
  transition: 1s;
}
.art8{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art9{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art10{
  transform:translate(0,-605px) scale(0);
  transition: 1s;
}
.art11{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art12{
  transform:translate(-636px,-966px) scale(0);
  transition: 1s;
}
.art13{
  transform:translate(338px,-973px) scale(0);
  transition: 1s;
}
.art14{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art15{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art16{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art17{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art18{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art19{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art20{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art21{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art22{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art23{
  transform:translate(0) scale(0);
  transition: 1s;
}
.art24{
  transform:translate(-298px,-2274px) scale(0);
  transition: 1s;
}
.art25{
  transform:translate(0,-2591px) scale(0);
  transition: 1s;
}
.art26{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial1{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial2{
  transform: translate(0) scale(0);
  transition: 1s;
}
.industrial3{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial4{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial5{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial6{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial7{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial8{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial9{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial10{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial11{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial12{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial13{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial14{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial15{
  transform:translate(-889px,-2108px) scale(1);
  transition: 1s;
}
.industrial16{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial17{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial18{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial19{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial20{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial21{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial22{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial23{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial24{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial25{
  transform:translate(0) scale(0);
  transition: 1s;
}
.industrial26{
  transform:translate(0) scale(0);
  transition: 1s;
}


.ecom1{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom2{
  transform: translate(20px,0) scale(1);
  transition: 1s;
}
.ecom3{
  transform:translate(-886px,0) scale(1);
  transition: 1s;
}
.ecom4{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom5{
  transform:translate(20px,-542px) scale(0);
  transition: 1s;
}
.ecom6{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom7{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom8{
  transform:translate(0px,0px) scale(0);
  transition: 1s;
}
.ecom9{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom10{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom11{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom12{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom13{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom14{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom15{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom16{
transform: translate(930px, -2625px) scale(1);
  transition: 1s;
}
.ecom17{
  transform:translate(20px,-1540px) scale(1);
  transition: 1s;
}
.ecom18{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom19{
  transform:translate(0px,-2575px) scale(1);
  transition: 1s;
}
.ecom20{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom21{
  transform:translate(-425px,-2600px) scale(1);

  transition: 1s;
}
.ecom22{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom23{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom24{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom25{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom26{
  transform:translate(0) scale(0);
  transition: 1s;
}
.ecom27{
  transform:translate(40px,-3670px) scale(1);
  transition: 1s;
}

.news1{
  transform: translate(0px,0) scale(0);
  transition: 1s;
}
.news2{
  transform: translate(20px,0) scale(0);
  transition: 1s;

}
.news3{
  transform: translate(40px,0) scale(0);
  transition: 1s;

}
.news4{
  transform: translate(0,10px) scale(0);
  transition: 1s;
}
.news5{
  transition: 1s;
  transform: translate(-445px, -540px) scale(1);
}
.news6{
  transform: translate(40px,10px) scale(0);
  transition: 1s;
}
.news7{
  transform: translate(0px,-70px) scale(0);
  transition: 1s;
}
.news8{
  transform: translate(20px,0px) scale(0);
  transition: 1s;
}
.news9{
  transform: translate(40px,10px) scale(0);
  transition: 1s;
}
.news10{
  transform: translate(0px,100px) scale(0);
  transition: 1s;
}
.news11{
  transform: translate(20px,100px) scale(0);
  transition: 1s;
}
.news12{
  transform: translate(40px,100px) scale(0);
  transition: 1s;
}
.news13{
  transform: translate(40px,0) scale(0);
  transition: 1s;
}
.news14{
  transform: translate(0,10px) scale(0);
  transition: 1s;
}
.news15{
  transition: 1s;
  transform: translate(20px,-10px) scale(0);
}
.news16{
  transform: translate(0px,0px) scale(0);
  transition: 1s;
}
.news17{
  transform: translate(0px,-70px) scale(0);
  transition: 1s;
}
.news18{
  transform: translate(20px,0px) scale(0);
  transition: 1s;
}
.news19{
  transform: translate(40px,10px) scale(0);
  transition: 1s;
}
.news20{
  transform: translate(0px,0) scale(0);
  transition: 1s;
}
.news21{
  transform: translate(20px,0) scale(0);
  transition: 1s;
}
.news22{
  transform: translate(40px,0) scale(0);
  transition: 1s;
}
.news23{
  transform: translate(0,10px) scale(0);
  transition: 1s;
}
.news24{
  transform: translate(20px,-10px) scale(0);
  transition: 1s;
}
.news25{
  transform: translate(40px,10px) scale(0);
  transition: 1s;
}
.news26{
  transform: translate(0px,-70px) scale(0);
  transition: 1s;
}
.news27{
  transform: translate(0px,-70px) scale(0);
  transition: 1s;
}

.bodo1{
  transform: translate(0px,0) scale(0);
  transition: 1s;
}
.bodo2{
  transform: translate(20px,0) scale(0);
  transition: 1s;

}
.bodo3{
  transform: translate(40px,0) scale(0);
  transition: 1s;

}
.bodo4{
  transform: translate(0,10px);
  transition: 1s;
}
.bodo5{
  transition: 1s;
  transform: translate(20px,-10px);
}
.bodo6{

  //top: 362px;
  //left: 660px;
  transform: translate(40px,10px);
  transition: 1s;
}
.bodo7{
  transform: translate(0px,-70px);
  transition: 1s;
}
.bodo8{
  transform: translate(20px,0px);
  transition: 1s;
}
.bodo9{
  transform: translate(40px,10px);
  transition: 1s;
}
.bodo10{
  transform: translate(0px,100px) scale(1);
  transition: 1s;
}
.bodo11{
  transform: translate(20px,100px);
  transition: 1s;
}
.bodo12{
  transform: translate(40px,100px);
  transition: 1s;
}
.bodo13{
  transform: translate(0px,120px);
  transition: 1s;
}
.bodo14{
  transform: translate(20px,100px);
  transition: 1s;
}
.bodo15{
  transition: 1s;
  transform: translate(40px,120px);
}
.bodo16{
  transform: translate(0px,50px);
  transition: 1s;
}
.bodo17{
  transform: translate(20px,120px);
  transition: 1s;
}
.bodo18{
  transform: translate(40px,130px);
  transition: 1s;
}
.bodo19{
  transform: translate(0px,70px);
  transition: 1s;
}
.bodo20{
  transform: translate(20px,60px) scale(0);
  transition: 1s;
}
.bodo21{
  transform: translate(40px,70px);
  transition: 1s;
}
.bodo22{
  transform: translate(0px,90px);
  transition: 1s;
}
.bodo23{
  transform: translate(20px,55px);
  transition: 1s;
}
.bodo24{
  transition: 1s;
  transform: translate(40px,90px);
}
.bodo25{
  transform: translate(0px,20px);
  transition: 1s;
}
.bodo26{
  transform: translate(20px,80px);
  transition: 1s;
}
.bodo27{
  transform: translate(40px,100px);
  transition: 1s;
}
.hosp1{
  transform: translate(0px,0) scale(0);
  transition: 1s;
}
.hosp2{
  transform: translate(20px,0) scale(0);
  transition: 1s;

}
.hosp3{
  transform: translate(40px,0) scale(0);
  transition: 1s;

}
.hosp4{
  transform: translate(0,10px) scale(0);
  transition: 1s;
}
.hosp5{
  transition: 1s;
  transform: translate(20px,-10px) scale(0);
}
.hosp6{
  transform: translate(-889px,-542px) scale(1);
  transition: 1s;
}
.hosp7{
  transform: translate(0px,-70px) scale(0);
  transition: 1s;
}
.hosp8{
  transform: translate(20px,0px) scale(0);
  transition: 1s;
}
.hosp9{
  transform: translate(40px,10px) scale(0);
  transition: 1s;
}
.hosp10{
  transform: translate(0px,100px) scale(0);
  transition: 1s;
}
.hosp11{
  transform: translate(20px,100px) scale(0);
  transition: 1s;
}
.hosp12{
  transform: translate(40px,100px) scale(0);
  transition: 1s;
}
.hosp13{
  transform: translate(0px,120px) scale(0);
  transition: 1s;
}
.hosp14{
  transform: translate(20px,100px) scale(0);
  transition: 1s;
}
.hosp15{
  transition: 1s;
  transform: translate(40px,120px) scale(0);
}
.hosp16{
  transform: translate(0px,50px) scale(0);
  transition: 1s;
}
.hosp17{
  transform: translate(20px,120px) scale(0);
  transition: 1s;
}
.hosp18{
  transform: translate(40px,130px) scale(0);
  transition: 1s;
}
.hosp19{
  transform: translate(0px,70px) scale(0);
  transition: 1s;
}
.hosp20{
  transform: translate(20px,60px) scale(0) scale(0);
  transition: 1s;
}
.hosp21{
  transform: translate(40px,70px) scale(0);
  transition: 1s;
}
.hosp22{
  transform: translate(0px,90px) scale(0);
  transition: 1s;
}
.hosp23{
  transform: translate(20px,55px) scale(0);
  transition: 1s;
}
.hosp24{
  transition: 1s;
  transform: translate(40px,90px) scale(0);
}
.hosp25{
  transform: translate(0px,20px) scale(0);
  transition: 1s;
}
.hosp26{
  transform: translate(20px,80px) scale(0);
  transition: 1s;
}
.hosp27{
  transform: translate(40px,100px) scale(0);
  transition: 1s;
}

.active1{
  transform: translate(0px,0) scale(0);
  transition: 1s;
}
.active2{
  transform: translate(20px,0) scale(0);
  transition: 1s;

}
.active3{
  transform: translate(40px,0) scale(0);
  transition: 1s;

}
.active4{
  transform: translate(0,10px) scale(0);
  transition: 1s;
}
.active5{
  transition: 1s;
  transform: translate(20px,-10px) scale(0);
}
.active6{
  transform: translate(40px,0px) scale(0);
  transition: 1s;
}
.active7{
  transform: translate(0px,-70px) scale(0);
  transition: 1s;
}
.active8{
  transform: translate(20px,0px) scale(0);
  transition: 1s;
}
.active9{
  transform: translate(40px,10px) scale(0);
  transition: 1s;
}
.active10{
  transform: translate(0px,100px) scale(0);
  transition: 1s;
}
.active11{
  transform: translate(20px,100px) scale(0);
  transition: 1s;
}
.active12{
  transform: translate(40px,100px) scale(0);
  transition: 1s;
}
.active13{
  transform: translate(0px,120px) scale(0);
  transition: 1s;
}
.active14{
  transform: translate(20px,100px) scale(0);
  transition: 1s;
}
.active15{
  transition: 1s;
  transform: translate(40px,120px) scale(0);
}
.active16{
  transform: translate(0px,50px) scale(0);
  transition: 1s;
}
.active17{
  transform: translate(20px,120px) scale(0);
  transition: 1s;
}
.active18{
  transform: translate(40px,130px) scale(0);
  transition: 1s;
}
.active19{
  transform: translate(0px,70px) scale(0);
  transition: 1s;
}
.active20{
  transform: translate(20px,60px) scale(0) scale(0);
  transition: 1s;
}
.active21{
  transform: translate(40px,70px) scale(0);
  transition: 1s;
}
.active22{
  transform: translate(0px,90px) scale(0);
  transition: 1s;
}
.active23{
  transform: translate(-445px,-3674px) scale(1);
  transition: 1s;
}
.active24{
  transition: 1s;
  transform: translate(40px,90px) scale(0);
}
.active25{
  transform: translate(0px,20px) scale(0);
  transition: 1s;
}
.active26{
  transform: translate(20px,80px) scale(0);
  transition: 1s;
}
.active27{
  transform: translate(40px,100px) scale(0);
  transition: 1s;
}
/**#btn:after{
			width: 100%;
			height: 100%;
			content: '';
			margin: auto;
			position: absolute;
			top:  100%;
			left: 100%;
			background: #212121;
			transition: all .5s;
			z-index: -1;
	}**/
/**
	#btn:hover:after{
			transform: rotateY(90deg);
	}**/

.load_more{

  #btn {
    span{
      position: relative;
      z-index: 2;
      color:white;

    }
    outline: none;
    border: 2px solid #EA0026;
    padding: 8px 40px;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    font-family: sans-serif;
    transition: all .5s;
    border-radius: 20px;
    &:before {
      width: 100%;
      height: 100%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0%;
      left: -100%;
      background: #EA0026;
      transition: all 1s;
      z-index: 0;
    }
    &:hover {
      color: white;
      &:before {
        top: 0;
        left: 0;
      }
    }
  }

}
.port_all{
  padding: 0 0 150px 0;
  position: relative;
}
@media (max-width: 1700px){
  .portfolio_filter{
    position: absolute;
    transform: rotate(-90deg) translate(-520px,-350px);
  }
}
@media (max-width: 1600px){
  .portfolio_filter{
    position: absolute;
    transform: rotate(-90deg) translate(-520px,-370px);
  }
}

@media (max-width: 1500px){
  .portfolio_filter{
    position: absolute;
    transform: rotate(-90deg) translate(-520px,-370px);
  }
}
@media (max-width: 1300px){
  .portfolio_filter{
    position: absolute;
    transform: rotate(-90deg) translate(-490px,-380px);
    font-size: 15px;
  }
}

@media (max-width: 1030px){
  .portfolio_filter{
    position: absolute;
    transform: rotate(-90deg) translate(-420px,-310px);
  }
}