@media screen and (max-width:1500px){
  .bod1{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/jeep.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod2{
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background: hotpink;
    text-align: center;
    background: url("./Img/naski.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod3{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/Marko.webp")  no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod4{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: red;
    text-align: center;
    background: url("./Img/goldcrest.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod5{
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background: purple;
    text-align: center;
    background: url("./Img/R2E2.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod6{
    border-radius: 10px;
    width: 500px;
    height: 370px;
    background: pink;
    text-align: center;
    background: url("./Img/allHotels.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod7{
    border-radius: 10px;
    width: 500px;
    height: 370px;
    background: yellowgreen;
    text-align: center;
    background: url("./Img/542.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod8{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: deeppink;
    text-align: center;
    background: url("./Img/AlfaR.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod9{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/Datanet.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod10{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
  }
  .bod11{
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background: hotpink;
    text-align: center;
    background: url("./Img/VD.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod12{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/sda.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod13{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: red;
    text-align: center;
    //background: url("./Img/Datanet.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod14{
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background: purple;
    text-align: center;
    background: url("./Img/520.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod15{
    border-radius: 10px;
    width: 500px;
    height: 370px;
    background: pink;
    text-align: center;
    background: url("./Img/thermo.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod16{
    border-radius: 10px;
    width: 500px;
    height: 370px;
    background: yellowgreen;
    text-align: center;
  }
  .bod17{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: deeppink;
    text-align: center;
    background: url("./Img/chees.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod18{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: rebeccapurple;
    text-align: center;

  }
  .bod19{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/levis.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod20{
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background: hotpink;
    text-align: center;
    background: url("./Img/Lada.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod21{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/shoping.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod22{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: red;
    text-align: center;
    background: url("./Img/Goris.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod23{
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background: purple;
    text-align: center;
    background: url("./Img/grand.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod24{
    border-radius: 10px;
    width: 500px;
    height: 370px;
    background: pink;
    text-align: center;
  }
  .bod25{
    border-radius: 10px;
    width: 500px;
    height: 370px;
    background: yellowgreen;
    text-align: center;
  }
  .bod26{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: deeppink;
    text-align: center;

  }
  .bod27{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/garaj.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .portfolio{
    height: 1200px;
    .load_more{
      left: 45%;
    }
    .all1{
      transform: translate(0px,0) scale(1);
      transition: 1s;
    }
    .all2{
      transform: translate(20px,0) scale(1);
      transition: 1s;

    }
    .all3{
      transform: translate(40px,0) scale(1);
      transition: 1s;

    }
    .all4{
      transform: translate(0,10px);
      transition: 1s;
    }
    .all5{
      transition: 1s;
      transform: translate(20px,-10px);
    }
    .all6{

      //top: 362px;
      //left: 660px;
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all7{
      transform: translate(0px,-140px);
      transition: 1s;
    }
    .all8{
      transform: translate(20px,0px);
      transition: 1s;
    }
    .all9{
      transform: translate(40px,10px);
      transition: 1s;
    }
  }
  .portfolio_more{
    .load_more{
      position: absolute;
      bottom: -2%;
      left: 40%;
      transition: 1s;
    }
    .all1{
      transform: translate(0px,0) scale(1);
      transition: 1s;
    }
    .all2{
      transform: translate(20px,0) scale(1);
      transition: 1s;

    }
    .all3{
      transform: translate(40px,0) scale(1);
      transition: 1s;

    }
    .all4{
      transform: translate(0,10px);
      transition: 1s;
    }
    .all5{
      transition: 1s;
      transform: translate(20px,-10px);
    }
    .all6{

      //top: 362px;
      //left: 660px;
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all7{
      transform: translate(0px,-140px);
      transition: 1s;
    }
    .all8{
      transform: translate(20px,0px);
      transition: 1s;
    }
    .all9{
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all10{
      transform: translate(0px,-130px) scale(1);
      transition: 1s;
    }
    .all11{
      transform: translate(20px,-140px);
      transition: 1s;
    }
    .all12{
      transform: translate(40px,-130px);
      transition: 1s;
    }
    .all13{
      transform: translate(0px,-120px);
      transition: 1s;
    }
    .all14{
      transform: translate(20px,-150px);
      transition: 1s;
    }
    .all15{
      transition: 1s;
      transform: translate(40px,-120px);
    }
    .all16{
      transform: translate(0px,-270px);
      transition: 1s;
    }
    .all17{
      transform: translate(20px,-140px);
      transition: 1s;
    }
    .all18{
      transform: translate(40px,-120px);
      transition: 1s;
    }
    .all19{
      transform: translate(0px,-260px);
      transition: 1s;
    }
    .all20{
      transform: translate(20px,-280px) scale(1);
      transition: 1s;
    }
    .all21{
      transform: translate(40px,-260px);
      transition: 1s;
    }
    .all22{
      transform: translate(0px,-250px);
      transition: 1s;
    }
    .all23{
      transform: translate(20px,-290px);
      transition: 1s;
    }
    .all24{
      transition: 1s;
      transform: translate(40px,-250px);
    }
    .all25{
      transform: translate(0px,-400px);
      transition: 1s;
    }
    .all26{
      transform: translate(20px,-280px);
      transition: 1s;
    }
    .all27{
      transform: translate(40px,-250px);
      transition: 1s;
    }
  }
}


@media screen and (max-width:1230px){
  .bod1{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/jeep.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod2{
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background: hotpink;
    text-align: center;
    background: url("./Img/naski.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod3{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/Marko.webp")  no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod4{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: red;
    text-align: center;
    background: url("./Img/goldcrest.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod5{
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background: purple;
    text-align: center;
    background: url("./Img/R2E2.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod6{
    border-radius: 10px;
    width: 500px;
    height: 320px;
    background: pink;
    text-align: center;
    background: url("./Img/allHotels.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod7{
    border-radius: 10px;
    width: 500px;
    height: 320px;
    background: yellowgreen;
    text-align: center;
    background: url("./Img/542.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod8{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: deeppink;
    text-align: center;
    background: url("./Img/AlfaR.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod9{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/Datanet.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod10{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
  }
  .bod11{
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background: hotpink;
    text-align: center;
    background: url("./Img/VD.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod12{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/sda.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod13{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: red;
    text-align: center;
    //background: url("./Img/Datanet.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod14{
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background: purple;
    text-align: center;
    background: url("./Img/520.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod15{
    border-radius: 10px;
    width: 500px;
    height: 320px;
    background: pink;
    text-align: center;
    background: url("./Img/thermo.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod16{
    border-radius: 10px;
    width: 500px;
    height: 320px;
    background: yellowgreen;
    text-align: center;
  }
  .bod17{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: deeppink;
    text-align: center;
    background: url("./Img/chees.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod18{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: rebeccapurple;
    text-align: center;

  }
  .bod19{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/levis.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod20{
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background: hotpink;
    text-align: center;
    background: url("./Img/Lada.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod21{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/shoping.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod22{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: red;
    text-align: center;
    background: url("./Img/Goris.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod23{
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background: purple;
    text-align: center;
    background: url("./Img/grand.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod24{
    border-radius: 10px;
    width: 500px;
    height: 320px;
    background: pink;
    text-align: center;
  }
  .bod25{
    border-radius: 10px;
    width: 500px;
    height: 320px;
    background: yellowgreen;
    text-align: center;
  }
  .bod26{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: deeppink;
    text-align: center;

  }
  .bod27{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/garaj.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .portfolio{
    height: 1100px;
    .all1{
      transform: translate(0px,0) scale(1);
      transition: 1s;
    }
    .all2{
      transform: translate(20px,0) scale(1);
      transition: 1s;

    }
    .all3{
      transform: translate(40px,0) scale(1);
      transition: 1s;

    }
    .all4{
      transform: translate(0,10px);
      transition: 1s;
    }
    .all5{
      transition: 1s;
      transform: translate(20px,-10px);
    }
    .all6{

      //top: 362px;
      //left: 660px;
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all7{
      transform: translate(0px,-90px);
      transition: 1s;
    }
    .all8{
      transform: translate(20px,0px);
      transition: 1s;
    }
    .all9{
      transform: translate(40px,10px);
      transition: 1s;
    }

    .load_more{
      position: absolute;
      bottom: 0%;
      left: 45%;
      transition: 1s;
    }
  }
  .portfolio_more{
    .load_more{
      position: absolute;
      bottom: -2%;
      left: 40%;
      transition: 1s;
    }
    .all1{
      transform: translate(0px,0) scale(1);
      transition: 1s;
    }
    .all2{
      transform: translate(20px,0) scale(1);
      transition: 1s;

    }
    .all3{
      transform: translate(40px,0) scale(1);
      transition: 1s;

    }
    .all4{
      transform: translate(0,10px);
      transition: 1s;
    }
    .all5{
      transition: 1s;
      transform: translate(20px,-10px);
    }
    .all6{

      //top: 362px;
      //left: 660px;
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all7{
      transform: translate(0px,-90px);
      transition: 1s;
    }
    .all8{
      transform: translate(20px,0px);
      transition: 1s;
    }
    .all9{
      transform: translate(40px,10px);
      transition: 1s;
    }
  }
  .portfolio_more{
    .load_more{
      position: absolute;
      bottom: -2%;
      left: 40%;
      transition: 1s;
    }
    .all1{
      transform: translate(0px,0) scale(1);
      transition: 1s;
    }
    .all2{
      transform: translate(20px,0) scale(1);
      transition: 1s;

    }
    .all3{
      transform: translate(40px,0) scale(1);
      transition: 1s;

    }
    .all4{
      transform: translate(0,10px);
      transition: 1s;
    }
    .all5{
      transition: 1s;
      transform: translate(20px,-10px);
    }
    .all6{

      //top: 362px;
      //left: 660px;
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all7{
      transform: translate(0px,-90px);
      transition: 1s;
    }
    .all8{
      transform: translate(20px,0px);
      transition: 1s;
    }
    .all9{
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all10{
      transform: translate(0px,-80px) scale(1);
      transition: 1s;
    }
    .all11{
      transform: translate(20px,-90px);
      transition: 1s;
    }
    .all12{
      transform: translate(40px,-80px);
      transition: 1s;
    }
    .all13{
      transform: translate(0px,-70px);
      transition: 1s;
    }
    .all14{
      transform: translate(20px,-100px);
      transition: 1s;
    }
    .all15{
      transition: 1s;
      transform: translate(40px,-70px);
    }
    .all16{
      transform: translate(0px,-170px);
      transition: 1s;
    }
    .all17{
      transform: translate(20px,-90px);
      transition: 1s;
    }
    .all18{
      transform: translate(40px,-70px);
      transition: 1s;
    }
    .all19{
      transform: translate(0px,-160px);
      transition: 1s;
    }
    .all20{
      transform: translate(20px,-180px) scale(1);
      transition: 1s;
    }
    .all21{
      transform: translate(40px,-160px);
      transition: 1s;
    }
    .all22{
      transform: translate(0px,-150px);
      transition: 1s;
    }
    .all23{
      transform: translate(20px,-190px);
      transition: 1s;
    }
    .all24{
      transition: 1s;
      transform: translate(40px,-150px);
    }
    .all25{
      transform: translate(0px,-250px);
      transition: 1s;
    }
    .all26{
      transform: translate(20px,-180px);
      transition: 1s;
    }
    .all27{
      transform: translate(40px,-150px);
      transition: 1s;
    }
  }
}
