@media screen and (max-width:1500px){
  .bod1{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/jeep.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod2{
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background: hotpink;
    text-align: center;
    background: url("./Img/naski.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod3{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/Marko.webp")  no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod4{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: red;
    text-align: center;
    background: url("./Img/goldcrest.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod5{
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background: purple;
    text-align: center;
    background: url("./Img/R2E2.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod6{
    border-radius: 10px;
    width: 500px;
    height: 370px;
    background: pink;
    text-align: center;
    background: url("./Img/allHotels.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod7{
    border-radius: 10px;
    width: 500px;
    height: 370px;
    background: yellowgreen;
    text-align: center;
    background: url("./Img/542.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod8{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: deeppink;
    text-align: center;
    background: url("./Img/AlfaR.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod9{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/Datanet.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod10{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
  }
  .bod11{
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background: hotpink;
    text-align: center;
    background: url("./Img/VD.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod12{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/sda.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod13{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: red;
    text-align: center;
    //background: url("./Img/Datanet.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod14{
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background: purple;
    text-align: center;
    background: url("./Img/520.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod15{
    border-radius: 10px;
    width: 500px;
    height: 370px;
    background: pink;
    text-align: center;
    background: url("./Img/thermo.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod16{
    border-radius: 10px;
    width: 500px;
    height: 370px;
    background: yellowgreen;
    text-align: center;
  }
  .bod17{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: deeppink;
    text-align: center;
    background: url("./Img/chees.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod18{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: rebeccapurple;
    text-align: center;

  }
  .bod19{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/levis.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod20{
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background: hotpink;
    text-align: center;
    background: url("./Img/Lada.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod21{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/shoping.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod22{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: red;
    text-align: center;
    background: url("./Img/Goris.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod23{
    border-radius: 10px;
    width: 500px;
    height: 380px;
    background: purple;
    text-align: center;
    background: url("./Img/grand.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod24{
    border-radius: 10px;
    width: 500px;
    height: 370px;
    background: pink;
    text-align: center;
  }
  .bod25{
    border-radius: 10px;
    width: 500px;
    height: 370px;
    background: yellowgreen;
    text-align: center;
  }
  .bod26{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: deeppink;
    text-align: center;

  }
  .bod27{
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/garaj.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .portfolio{
    height: 1200px;
    .load_more{
      left: 45%;
    }
    .all1{
      transform: translate(0px,0) scale(1);
      transition: 1s;
    }
    .all2{
      transform: translate(20px,0) scale(1);
      transition: 1s;

    }
    .all3{
      transform: translate(40px,0) scale(1);
      transition: 1s;

    }
    .all4{
      transform: translate(0,10px);
      transition: 1s;
    }
    .all5{
      transition: 1s;
      transform: translate(20px,-10px);
    }
    .all6{

      //top: 362px;
      //left: 660px;
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all7{
      transform: translate(0px,-140px);
      transition: 1s;
    }
    .all8{
      transform: translate(20px,0px);
      transition: 1s;
    }
    .all9{
      transform: translate(40px,10px);
      transition: 1s;
    }
  }
  .portfolio_more{
    .load_more{
      position: absolute;
      bottom: -2%;
      left: 40%;
      transition: 1s;
    }
    .all1{
      transform: translate(0px,0) scale(1);
      transition: 1s;
    }
    .all2{
      transform: translate(20px,0) scale(1);
      transition: 1s;

    }
    .all3{
      transform: translate(40px,0) scale(1);
      transition: 1s;

    }
    .all4{
      transform: translate(0,10px);
      transition: 1s;
    }
    .all5{
      transition: 1s;
      transform: translate(20px,-10px);
    }
    .all6{

      //top: 362px;
      //left: 660px;
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all7{
      transform: translate(0px,-140px);
      transition: 1s;
    }
    .all8{
      transform: translate(20px,0px);
      transition: 1s;
    }
    .all9{
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all10{
      transform: translate(0px,-130px) scale(1);
      transition: 1s;
    }
    .all11{
      transform: translate(20px,-140px);
      transition: 1s;
    }
    .all12{
      transform: translate(40px,-130px);
      transition: 1s;
    }
    .all13{
      transform: translate(0px,-120px);
      transition: 1s;
    }
    .all14{
      transform: translate(20px,-150px);
      transition: 1s;
    }
    .all15{
      transition: 1s;
      transform: translate(40px,-120px);
    }
    .all16{
      transform: translate(0px,-270px);
      transition: 1s;
    }
    .all17{
      transform: translate(20px,-140px);
      transition: 1s;
    }
    .all18{
      transform: translate(40px,-120px);
      transition: 1s;
    }
    .all19{
      transform: translate(0px,-260px);
      transition: 1s;
    }
    .all20{
      transform: translate(20px,-280px) scale(1);
      transition: 1s;
    }
    .all21{
      transform: translate(40px,-260px);
      transition: 1s;
    }
    .all22{
      transform: translate(0px,-250px);
      transition: 1s;
    }
    .all23{
      transform: translate(20px,-290px);
      transition: 1s;
    }
    .all24{
      transition: 1s;
      transform: translate(40px,-250px);
    }
    .all25{
      transform: translate(0px,-400px);
      transition: 1s;
    }
    .all26{
      transform: translate(20px,-280px);
      transition: 1s;
    }
    .all27{
      transform: translate(40px,-250px);
      transition: 1s;
    }
  }
}


@media screen and (max-width:1230px){
  .bod1{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/jeep.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod2{
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background: hotpink;
    text-align: center;
    background: url("./Img/naski.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod3{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/Marko.webp")  no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod4{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: red;
    text-align: center;
    background: url("./Img/goldcrest.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod5{
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background: purple;
    text-align: center;
    background: url("./Img/R2E2.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod6{
    border-radius: 10px;
    width: 500px;
    height: 320px;
    background: pink;
    text-align: center;
    background: url("./Img/allHotels.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod7{
    border-radius: 10px;
    width: 500px;
    height: 320px;
    background: yellowgreen;
    text-align: center;
    background: url("./Img/542.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod8{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: deeppink;
    text-align: center;
    background: url("./Img/AlfaR.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod9{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/Datanet.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod10{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
  }
  .bod11{
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background: hotpink;
    text-align: center;
    background: url("./Img/VD.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod12{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/sda.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod13{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: red;
    text-align: center;
    //background: url("./Img/Datanet.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod14{
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background: purple;
    text-align: center;
    background: url("./Img/520.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod15{
    border-radius: 10px;
    width: 500px;
    height: 320px;
    background: pink;
    text-align: center;
    background: url("./Img/thermo.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod16{
    border-radius: 10px;
    width: 500px;
    height: 320px;
    background: yellowgreen;
    text-align: center;
  }
  .bod17{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: deeppink;
    text-align: center;
    background: url("./Img/chees.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod18{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: rebeccapurple;
    text-align: center;

  }
  .bod19{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/levis.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod20{
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background: hotpink;
    text-align: center;
    background: url("./Img/Lada.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod21{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/shoping.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod22{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: red;
    text-align: center;
    background: url("./Img/Goris.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod23{
    border-radius: 10px;
    width: 500px;
    height: 330px;
    background: purple;
    text-align: center;
    background: url("./Img/grand.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod24{
    border-radius: 10px;
    width: 500px;
    height: 320px;
    background: pink;
    text-align: center;
  }
  .bod25{
    border-radius: 10px;
    width: 500px;
    height: 320px;
    background: yellowgreen;
    text-align: center;
  }
  .bod26{
    border-radius: 10px;
    width: 500px;
    height: 220px;
    background: deeppink;
    text-align: center;

  }
  .bod27{
    border-radius: 10px;
    width: 500px;
    height: 350px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/garaj.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .portfolio{
    height: 1100px;
    .all1{
      transform: translate(0px,0) scale(1);
      transition: 1s;
    }
    .all2{
      transform: translate(20px,0) scale(1);
      transition: 1s;

    }
    .all3{
      transform: translate(40px,0) scale(1);
      transition: 1s;

    }
    .all4{
      transform: translate(0,10px);
      transition: 1s;
    }
    .all5{
      transition: 1s;
      transform: translate(20px,-10px);
    }
    .all6{

      //top: 362px;
      //left: 660px;
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all7{
      transform: translate(0px,-90px);
      transition: 1s;
    }
    .all8{
      transform: translate(20px,0px);
      transition: 1s;
    }
    .all9{
      transform: translate(40px,10px);
      transition: 1s;
    }

    .load_more{
      position: absolute;
      bottom: 0%;
      left: 45%;
      transition: 1s;
    }
  }
  .portfolio_more{
    .load_more{
      position: absolute;
      bottom: -2%;
      left: 40%;
      transition: 1s;
    }
    .all1{
      transform: translate(0px,0) scale(1);
      transition: 1s;
    }
    .all2{
      transform: translate(20px,0) scale(1);
      transition: 1s;

    }
    .all3{
      transform: translate(40px,0) scale(1);
      transition: 1s;

    }
    .all4{
      transform: translate(0,10px);
      transition: 1s;
    }
    .all5{
      transition: 1s;
      transform: translate(20px,-10px);
    }
    .all6{

      //top: 362px;
      //left: 660px;
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all7{
      transform: translate(0px,-90px);
      transition: 1s;
    }
    .all8{
      transform: translate(20px,0px);
      transition: 1s;
    }
    .all9{
      transform: translate(40px,10px);
      transition: 1s;
    }
  }
  .portfolio_more{
    .load_more{
      position: absolute;
      bottom: -2%;
      left: 40%;
      transition: 1s;
    }
    .all1{
      transform: translate(0px,0) scale(1);
      transition: 1s;
    }
    .all2{
      transform: translate(20px,0) scale(1);
      transition: 1s;

    }
    .all3{
      transform: translate(40px,0) scale(1);
      transition: 1s;

    }
    .all4{
      transform: translate(0,10px);
      transition: 1s;
    }
    .all5{
      transition: 1s;
      transform: translate(20px,-10px);
    }
    .all6{

      //top: 362px;
      //left: 660px;
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all7{
      transform: translate(0px,-90px);
      transition: 1s;
    }
    .all8{
      transform: translate(20px,0px);
      transition: 1s;
    }
    .all9{
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all10{
      transform: translate(0px,-80px) scale(1);
      transition: 1s;
    }
    .all11{
      transform: translate(20px,-90px);
      transition: 1s;
    }
    .all12{
      transform: translate(40px,-80px);
      transition: 1s;
    }
    .all13{
      transform: translate(0px,-70px);
      transition: 1s;
    }
    .all14{
      transform: translate(20px,-100px);
      transition: 1s;
    }
    .all15{
      transition: 1s;
      transform: translate(40px,-70px);
    }
    .all16{
      transform: translate(0px,-170px);
      transition: 1s;
    }
    .all17{
      transform: translate(20px,-90px);
      transition: 1s;
    }
    .all18{
      transform: translate(40px,-70px);
      transition: 1s;
    }
    .all19{
      transform: translate(0px,-160px);
      transition: 1s;
    }
    .all20{
      transform: translate(20px,-180px) scale(1);
      transition: 1s;
    }
    .all21{
      transform: translate(40px,-160px);
      transition: 1s;
    }
    .all22{
      transform: translate(0px,-150px);
      transition: 1s;
    }
    .all23{
      transform: translate(20px,-190px);
      transition: 1s;
    }
    .all24{
      transition: 1s;
      transform: translate(40px,-150px);
    }
    .all25{
      transform: translate(0px,-250px);
      transition: 1s;
    }
    .all26{
      transform: translate(20px,-180px);
      transition: 1s;
    }
    .all27{
      transform: translate(40px,-150px);
      transition: 1s;
    }
  }
}


@media screen and (max-width:1130px){
  .bod1{
    border-radius: 10px;
    width: 500px;
    height:300px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/jeep.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod2{
    border-radius: 10px;
    width: 500px;
   height: 270px;
    background: hotpink;
    text-align: center;
    background: url("./Img/naski.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod3{
    border-radius: 10px;
    width: 500px;
    height:300px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/Marko.webp")  no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod4{
    border-radius: 10px;
    width: 500px;
   height: 200px;
    background: red;
    text-align: center;
    background: url("./Img/goldcrest.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod5{
    border-radius: 10px;
    width: 500px;
   height: 270px;
    background: purple;
    text-align: center;
    background: url("./Img/R2E2.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod6{
    border-radius: 10px;
    width: 500px;
    height: 260px;
    background: pink;
    text-align: center;
    background: url("./Img/allHotels.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod7{
    border-radius: 10px;
    width: 500px;
    height: 260px;
    background: yellowgreen;
    text-align: center;
    background: url("./Img/542.webp") no-repeat ;
    background-size: cover;
    background-position-x: right;
  }
  .bod8{
    border-radius: 10px;
    width: 500px;
   height: 200px;
    background: deeppink;
    text-align: center;
    background: url("./Img/AlfaR.webp") no-repeat ;
    background-size: cover;
    background-position-x: left;
  }
  .bod9{
    border-radius: 10px;
    width: 500px;
   height: 200px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/Datanet.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod10{
    border-radius: 10px;
    width: 500px;
    height:300px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
  }
  .bod11{
    border-radius: 10px;
    width: 500px;
   height: 270px;
    background: hotpink;
    text-align: center;
    background: url("./Img/VD.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod12{
    border-radius: 10px;
    width: 500px;
    height:300px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/sda.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod13{
    border-radius: 10px;
    width: 500px;
   height: 200px;
    background: red;
    text-align: center;
    //background: url("./Img/Datanet.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod14{
    border-radius: 10px;
    width: 500px;
   height: 270px;
    background: purple;
    text-align: center;
    background: url("./Img/520.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod15{
    border-radius: 10px;
    width: 500px;
    height: 260px;
    background: pink;
    text-align: center;
    background: url("./Img/thermo.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod16{
    border-radius: 10px;
    width: 500px;
    height: 260px;
    background: yellowgreen;
    text-align: center;
  }
  .bod17{
    border-radius: 10px;
    width: 500px;
   height: 200px;
    background: deeppink;
    text-align: center;
    background: url("./Img/chees.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod18{
    border-radius: 10px;
    width: 500px;
   height: 200px;
    background: rebeccapurple;
    text-align: center;

  }
  .bod19{
    border-radius: 10px;
    width: 500px;
    height:300px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/levis.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod20{
    border-radius: 10px;
    width: 500px;
   height: 270px;
    background: hotpink;
    text-align: center;
    background: url("./Img/Lada.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod21{
    border-radius: 10px;
    width: 500px;
    height:300px;
    background: rebeccapurple;
    text-align: center;
    background: url("./Img/shoping.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod22{
    border-radius: 10px;
    width: 500px;
   height: 200px;
    background: red;
    text-align: center;
    background: url("./Img/Goris.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod23{
    border-radius: 10px;
    width: 500px;
   height: 270px;
    background: purple;
    text-align: center;
    background: url("./Img/grand.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .bod24{
    border-radius: 10px;
    width: 500px;
    height: 260px;
    background: pink;
    text-align: center;
  }
  .bod25{
    border-radius: 10px;
    width: 500px;
    height: 260px;
    background: yellowgreen;
    text-align: center;
  }
  .bod26{
    border-radius: 10px;
    width: 500px;
   height: 200px;
    background: deeppink;
    text-align: center;

  }
  .bod27{
    border-radius: 10px;
    width: 500px;
    height:300px;
    background: mediumpurple;
    text-align: center;
    transition: 1s;
    background: url("./Img/garaj.webp") no-repeat;
    background-size: cover;
    background-position-x: right;
  }
  .portfolio{
    height: 1200px;
    .all1{
      transform: translate(0px,0) scale(1);
      transition: 1s;
    }
    .all2{
      transform: translate(20px,0) scale(1);
      transition: 1s;

    }
    .all3{
      transform: translate(40px,0) scale(1);
      transition: 1s;

    }
    .all4{
      transform: translate(0,10px);
      transition: 1s;
    }
    .all5{
      transition: 1s;
      transform: translate(20px,-20px);
    }
    .all6{

      //top: 362px;
      //left: 660px;
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all7{
      transform: translate(0px,-50px);
      transition: 1s;
    }
    .all8{
      transform: translate(20px,-10px);
      transition: 1s;
    }
    .all9{
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all10{
      transform: translate(0px,400px) scale(1);
      transition: 1s;
    }
    .all11{
      transform: translate(20px,400px);
      transition: 1s;
    }
    .all12{
      transform: translate(40px,400px);
      transition: 1s;
    }

    .load_more{
      position: absolute;
      bottom: 0%;
      left: 45%;
      transition: 1s;
    }
  }

  .portfolio_more{
    .load_more{
      position: absolute;
      bottom: -2%;
      left: 40%;
      transition: 1s;
    }
    .all1{
      transform: translate(0px,0) scale(1);
      transition: 1s;
    }
    .all2{
      transform: translate(20px,0) scale(1);
      transition: 1s;

    }
    .all3{
      transform: translate(40px,0) scale(1);
      transition: 1s;

    }
    .all4{
      transform: translate(0,10px);
      transition: 1s;
    }
    .all5{
      transition: 1s;
      transform: translate(20px,-20px);
    }
    .all6{

      //top: 362px;
      //left: 660px;
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all7{
      transform: translate(0px,-50px);
      transition: 1s;
    }
    .all8{
      transform: translate(20px,-10px);
      transition: 1s;
    }
    .all9{
      transform: translate(40px,10px);
      transition: 1s;
    }
    .all10{
      transform: translate(0px,-40px) scale(1);
      transition: 1s;
    }
    .all11{
      transform: translate(20px,-60px);
      transition: 1s;
    }
    .all12{
      transform: translate(40px,-40px);
      transition: 1s;
    }
    .all13{
      transform: translate(0px,-30px);
      transition: 1s;
    }
    .all14{
      transform: translate(20px,-80px);
      transition: 1s;
    }
    .all15{
      transition: 1s;
      transform: translate(40px,-30px);
    }
    .all16{
      transform: translate(0px,-90px);
      transition: 1s;
    }
    .all17{
      transform: translate(20px,-70px);
      transition: 1s;
    }
    .all18{
      transform: translate(40px,-30px);
      transition: 1s;
    }
    .all19{
      transform: translate(0px,-80px);
      transition: 1s;
    }
    .all20{
      transform: translate(20px,-120px) scale(1);
      transition: 1s;
    }
    .all21{
      transform: translate(40px,-80px);
      transition: 1s;
    }
    .all22{
      transform: translate(0px,-70px);
      transition: 1s;
    }
    .all23{
      transform: translate(20px,-140px);
      transition: 1s;
    }
    .all24{
      transition: 1s;
      transform: translate(40px,-70px);
    }
    .all25{
      transform: translate(0px,-130px);
      transition: 1s;
    }
    .all26{
      transform: translate(20px,-130px);
      transition: 1s;
    }
    .all27{
      transform: translate(40px,-70px);
      transition: 1s;
    }
  }
}

@media screen and (max-width:1900px) {
  .hosp6{
    transform: translate(-200%,-542px) scale(1);
    transition: 1s;
  }
  .news5{
    transition: 1s;
    transform: translate(-100%, -540px) scale(1);
  }
  .ecom3{
    transform:translate(-200%,0) scale(1);
    transition: 1s;
  }

  .ecom8{
    transform:translate(0%,0px) scale(0);
    transition: 1s;
  }
  .ecom16{
    transform: translate(210.5%, -2625px) scale(1);
    transition: 1s;
  }

  .ecom19{
    transform:translate(0%,-2575px) scale(1);
    transition: 1s;
  }
  .ecom21{
    transform:translate(-95%,-2600px) scale(1);
    transition: 1s;
  }
  .ecom27{
    transform:translate(11%,-3670px) scale(1);
    transition: 1s;
  }
  .ecom17{
    transform:translate(5%,-1540px) scale(1);
    transition: 1s;
  }
  .industrial15{
    transform: translate(-200%, -2108px) scale(1);
  }
  .nongov12 {
    transform: translate(-200%, -1566px) scale(1);
  }
  .tech18 {
    transform: translate(-200%, -2625px) scale(1);
  }
  .tel9{
    transform:translate(-200%,-1059px) scale(1);
    transition: 1s;
  }
  .tel14{
    transform:translate(5%,-2108px) scale(1);
    transition: 1s;
  }
  .educate22 {
    transform: translate(0%, -3674px) scale(1);
    transition: 1s;
  }
  .educate25 {
    transform: translate(110%, -4191px) scale(1);
  }
  .educate24 {
    transform: translate(20%, -3674px) scale(1);
  }
  .auto1{
    transform:translate(0%) scale(1);
    transition: 1s;
  }
  .auto7{
    transform:translate(210%,-1059px) scale(1);
    transition: 1s;
  }
  .auto8{
    transform:translate(5%,-1058px) scale(1);
    transition: 1s;
  }
  .auto10{
    transform:translate(0%,-1005px) scale(1);
    transition: 1s;
  }
  .auto13{
    transform:translate(105%,-1785px) scale(1);
    transition: 1s;
  }
  .auto20{
    transform:translate(110%,-2605px) scale(1);
    transition: 1s;
  }
}
@media screen and (max-width:1500px){
  .hosp6{
    transform: translate(-200%,-400px) scale(1);
    transition: 1s;
  }
  .news5{
    transition: 1s;
    transform: translate(-100%, -400px) scale(1);
  }
  .ecom3{
    transform:translate(-200%,0) scale(1);
    transition: 1s;
  }

  .ecom8{
    transform:translate(0%,0px) scale(0);
    transition: 1s;
  }
  .ecom16{
    transform: translate(210.5%, -1930px) scale(1);
    transition: 1s;
  }

  .ecom19{
    transform:translate(0%,-1890px) scale(1);
    transition: 1s;
  }
  .ecom21{
    transform:translate(-93%,-1910px) scale(1);
    transition: 1s;
  }
  .ecom27{
    transform:translate(11%,-2700px) scale(1);
    transition: 1s;
  }
  .ecom17{
    transform:translate(5%,-1130px) scale(1);
    transition: 1s;
  }
  .industrial15{
    transform: translate(-200%, -1550px) scale(1);
  }
  .art4{
    transform: translate(0, -400px) scale(1);
  }
  .nongov12{
    transform:translate(-200%,-1140px) scale(1);
    background-position-x: left;
  }
  .tech18{
    transform:translate(-200%,-1930px) scale(1);
  }
  .tel9{
    transform:translate(-200%,-780px) scale(1);
    transition: 1s;
  }
  .tel14{
    transform:translate(5%,-1550px) scale(1);
    transition: 1s;
  }
  .educate22{
    transform: translate(0px,-2700px) scale(1);
    transition: 1s;
  }
  .educate25{
    transform:translate(110%,-3080px) scale(1);
  }
  .educate24{
    transform:translate(20%,-2700px) scale(1);
  }
  .auto1{
    transform:translate(0%) scale(1);
    transition: 1s;
  }
  .auto8{
    transform:translate(5%,-780px) scale(1);
    transition: 1s;
  }
  .auto7{
    transform:translate(210%,-780px) scale(1);
    transition: 1s;
  }
  .auto10{
    transform:translate(0%,-735px) scale(1);
    transition: 1s;
  }
  .auto13{
    transform:translate(105%,-1315px) scale(1);
    transition: 1s;
  }
  .auto20{
    transform:translate(110%,-1915px) scale(1);
    transition: 1s;
  }
}
@media screen and (max-width:1430px){
  .tech18{
    transform:translate(-190%,-1930px) scale(1);
  }
}
@media screen and (max-width:1230px){
  .hosp6{
    transform: translate(-200%,-350px) scale(1);
    transition: 1s;
  }
  .news5{
    transition: 1s;
    transform: translate(-100%, -350px) scale(1);
  }
  .ecom3{
    transform:translate(-200%,0) scale(1);
    transition: 1s;
  }

  .ecom8{
    transform:translate(0%,0px) scale(0);
    transition: 1s;
  }
  .ecom16{
    transform: translate(210.5%, -1680px) scale(1);
    transition: 1s;
  }

  .ecom19{
    transform:translate(0%,-1640px) scale(1);
    transition: 1s;
  }
  .ecom21{
    transform:translate(-93%,-1660px) scale(1);
    transition: 1s;
  }
  .ecom27{
    transform:translate(10.8%,-2350px) scale(1);
    transition: 1s;
  }
  .ecom17{
    transform:translate(7%,-980px) scale(1);
    transition: 1s;
  }
  .industrial15{
    transform: translate(-200%, -1350px) scale(1);
  }
  .art4{
    transform: translate(0, -350px) scale(1);
  }
  .nongov12{
    transform:translate(-200%,-990px) scale(1);
  }
  .tech18{
    transform:translate(-200%,-1680px) scale(1);
  }
  .auto1{
    transform:translate(0%) scale(1);
    transition: 1s;
  }
  .auto8{
    transform:translate(5%,-680px) scale(1);
    transition: 1s;
  }
  .auto7{
    transform:translate(210%,-680px) scale(1);
    transition: 1s;
  }
  .auto10{
    transform:translate(0%,-635px) scale(1);
    transition: 1s;
  }
  .auto13{
    transform:translate(105%,-1115px) scale(1);
    transition: 1s;
  }
  .auto20{
    transform:translate(110%,-1665px) scale(1);
    transition: 1s;
  }

  .tel9{
    transform:translate(-200%,-680px) scale(1);
    transition: 1s;
  }
  .tel14{
    transform:translate(5%,-1350px) scale(1);
    transition: 1s;
  }

  .educate22{
    transform: translate(0px,-2350px) scale(1);
    transition: 1s;
  }
  .educate25{
    transform:translate(110%,-2680px) scale(1);
  }
  .educate24{
    transform:translate(20%,-2350px) scale(1);
  }
}

@media screen and (max-width:1130px){
  .hosp6{
    transform: translate(-200%,-300px) scale(1);
    transition: 1s;
  }
  .ecom3{
    transform:translate(-200%,0) scale(1);
    transition: 1s;
  }

  .ecom8{
    transform:translate(0%,0px) scale(0);
    transition: 1s;
  }
  .ecom16{
    transform: translate(210.5%, -1400px) scale(1);
    transition: 1s;
  }

  .ecom19{
    transform:translate(0%,-1350px) scale(1);
    transition: 1s;
  }
  .ecom21{
    transform:translate(-92%,-1380px) scale(1);
    transition: 1s;
  }
  .ecom27{
    transform:translate(10.8%,-1960px) scale(1);
    transition: 1s;
  }
  .ecom17{
    transform:translate(8%,-810px) scale(1);
    transition: 1s;
  }
  .industrial15{
    transform: translate(-200%, -1130px) scale(1);
  }
  .art4{
    transform: translate(0, -300px) scale(1);
  }
  .nongov12{
    transform:translate(-200%,-820px) scale(1);
  }
  .auto1{
    transform:translate(0%) scale(1);
    transition: 1s;
  }
  .auto8{
    transform:translate(5%,-570px) scale(1);
    transition: 1s;
  }
  .auto7{
    transform:translate(210%,-570px) scale(1);
    transition: 1s;
  }
  .auto10{
    transform:translate(0%,-515px) scale(1);
    transition: 1s;
  }
  .auto13{
    transform:translate(105%,-915px) scale(1);
    transition: 1s;
  }
  .auto20{
    transform:translate(110%,-1385px) scale(1);
    transition: 1s;
  }

  .tech18{
    transform:translate(-200%,-1400px) scale(1);
  }
  .tel9{
    transform:translate(-200%,-570px) scale(1);
    transition: 1s;
  }
  .tel14{
    transform:translate(5%,-1130px) scale(1);
    transition: 1s;
  }


  .educate22{
    transform: translate(0px,-1960px) scale(1);
    transition: 1s;
  }
  .educate25{
    transform:translate(110%,-2230px) scale(1);
  }
  .educate24{
    transform:translate(20%,-1960px) scale(1);
  }
}
@media screen and (max-width:1050px){
  .portfolio_filter{
    position: absolute;
    transform: rotate(-90deg) translate(-520px,-380px);
    font-size: 14px;
  }

  //.nongov12{
  //  transform:translate(-420px,-820px) scale(1);
  //}
  //.tech18{
  //  transform:translate(-420px,-1400px) scale(1);
  //}
  //
  //
}

@media screen and (max-width:1050px){
  .portfolio_filter{
    position: absolute;
    transform: rotate(-90deg) translate(-440px,-370px);
    font-size: 13px;
  }
}
