.header_all{
  position: fixed;
  padding: 40px;
  //background: #1f1f1f;
  width: 100%;
  z-index: 6;
  transition: .2s;
}
.header_all1{
  position: fixed;
  padding: 40px;
  background: #1f1f1f;
  width: 100%;
  z-index: 6;
  transition: .2s;
}